<h2>Email event data</h2>

<table id="summary" class="summary">
	<tr class="summary__row">
		<td class="summary__cell summary__cell--title">
      Total number of emails <strong>sent</strong></td>
		<td class="summary__cell">
      <%= count_event('send') %>
    </td>
	</tr>
	<tr class="summary__row">
		<td class="summary__cell summary__cell--title">
      Total number of emails <strong>opened</strong>
    </td>
		<td class="summary__cell">
      <%= count_event('open') %>
    </td>
	</tr>
	<tr class="summary__row">
		<td class="summary__cell summary__cell--title">
      Total number of <strong>clicks</strong>
    </td>
		<td class="summary__cell">
      <%= count_event('click') %>
    </td>
	</tr>
	<tr class="summary__row">
		<td class="summary__cell summary__cell--title">
      <strong>Open rate</strong> per email type
    </td>
		<td class="summary__cell">
      <%= render partial: 'ratings_table', locals: { event: 'open' } %>
    </td>
	</tr>
	<tr class="summary__row">
		<td class="summary__cell summary__cell--title">
      <strong>Click rate</strong> per email type
    </td>
    <td class="summary__cell">
      <%= render partial: 'ratings_table', locals: { event: 'click' } %>
    </td>
	</tr>
</table>
